  <!-- tweet stats -->
  <div id="tweetstats" ng-controller="ScoreboardController">
    <div class="row" data-equalizer>
      <div class="small-3 columns statspanel text-center" data-equalizer-watch>
    	  <h4 class="subheader">#pixlfest on Twitter</h4>
	      <h1>{{scoreboard.conferenceTweetCount}}</h1>
      </div>
      <div class="small-3 columns statspanel text-center" data-equalizer-watch>
		    <h4 class="subheader">#pixlfest {{scoreboard.whatToMatch}}</h4>
		    <h1>{{scoreboard.angularTweetCount}}</h1>
      </div>
      <div class="small-3 columns statspanel text-center" data-equalizer-watch>
        <h4 class="subheader">Session Champion</h4>
        <h3>@{{scoreboard.champion.user}}</h3>
        <div class="success round label score">{{scoreboard.champion.score}}</div>
      </div>
      <div class="small-3 columns statspanel text-center" data-equalizer-watch>
        <h4 class="subheader">Latest Challenger</h4>
        <div ng-show="scoreboard.challenger">
          <img ng-src="{{scoreboard.challenger.imageUrl}}" width="80" height="80"/>
          <h3 ng-show="scoreboard.challenger">@{{scoreboard.challenger.user}}</h3>
          <div ng-show="scoreboard.challenger" class="round label score">{{scoreboard.challenger.score}}</div>
        </div>
        <div ng-hide="scoreboard.challenger">
          <img src="images/aykm-meme.png" width="80" height="80"/>
          <h3 ng-hide="scoreboard.challenger" class="come-on"><small>Really, nobody?</small></h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns panel callout radius text-center" ng-show="scoreboard.newestTweet">
        {{scoreboard.newestTweet}}
      </div>
      <div class="small-12 columns panel radius text-center empty-tweet" ng-hide="scoreboard.newestTweet">
        Fell asleep for a few minutes listening to @rhoegg talk about #angularjs at #pixlfest
      </div>
    </div>
  </div>