  <!-- tweet stats -->
  <div id="tweetstats" ng-controller="ScoreboardController">
    <div class="row" data-equalizer>
      <div class="small-3 columns statspanel text-center" data-equalizer-watch>
    	  <h4 class="subheader">#pixlfest on Twitter</h4>
	      <h1>{{scoreboard.conferenceTweetCount}}</h1>
      </div>
      <div class="small-3 columns statspanel text-center" data-equalizer-watch>
		    <h4 class="subheader">#pixlfest {{scoreboard.whatToMatch}}</h4>
		    <h1>{{scoreboard.angularTweetCount}}</h1>
      </div>
      <div id="champion-panel" class="small-3 columns statspanel text-center" data-equalizer-watch>
        <h4 class="subheader">Session Champion</h4>
        <img ng-src="{{scoreboard.champion.imageUrl}}" width="80" height="80" />
        <div class="clearfix">
          <div class="success round label score right">{{scoreboard.champion.score}}</div>
          <h3 class="left">@{{scoreboard.champion.user}}</h3>
        </div>
      </div>
      <div id="challenger-panel" class="small-3 columns statspanel text-center" data-equalizer-watch>
        <h4 class="subheader">Latest Challenger</h4>
        <div ng-show="scoreboard.challenger">
          <img ng-src="{{scoreboard.challenger.imageUrl}}" width="80" height="80" />
          <div class="clearfix">
            <div ng-show="scoreboard.challenger" class="round label score right">{{scoreboard.challenger.score}}</div>
            <h3 ng-show="scoreboard.challenger" class="left">@{{scoreboard.challenger.user}}</h3>
          </div>
        </div>
        <div ng-hide="scoreboard.challenger">
          <img src="images/aykm-meme.png" width="80" height="80"/>
          <h3 ng-hide="scoreboard.challenger" class="come-on"><small>Really, nobody?</small></h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns panel callout radius text-center" ng-show="scoreboard.newestTweet">
        {{scoreboard.newestTweet}}
      </div>
      <div class="small-12 columns panel radius text-center empty-tweet" ng-hide="scoreboard.newestTweet">
        Fell asleep for a few minutes listening to @rhoegg talk about #angularjs at #pixlfest
      </div>
    </div>
  </div>