  <!-- tweet stats -->
  <div id="tweetstats" ng-controller="ScoreboardController">
    <div class="row">
      <div class="small-3 columns statspanel text-center">
    	  <h4 class="subheader">#pixlfest on Twitter</h4>
	      <h1>{{scoreboard.conferenceTweetCount}}</h1>
      </div>
      <div class="small-3 columns statspanel text-center">
		    <h4 class="subheader">#pixlfest #angularjs</h4>
		    <h1>{{scoreboard.angularTweetCount}}</h1>
      </div>
      <div class="small-3 columns statspanel text-center">
        <h4 class="subheader">Session Champion</h4>
        <h3>{{scoreboard.champion}}</h3>
      </div>
      <div class="small-3 columns statspanel text-center">
        <h4 class="subheader">Latest Challenger</h4>
        <h3 ng-if="scoreboard.challenger">{{scoreboard.challenger}}</h3>
        <h3 ng-if="!(scoreboard.challenger)" class="come-on"><small>Really, nobody?</small></h3>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns panel callout radius text-center">
        {{scoreboard.newestTweet}}
      </div>
    </div>
  </div>