/* Specific styles for this site */
.logo {
	padding: 10px;
	height: 45px;
}

#tweetstats {
	margin-top: 0.5em;
}

.statspanel {
	border: 1px solid orange;
	border-radius: 5px;
	background-color: cornsilk;
	padding: 12px;
}

h3.come-on small {
	font-style: italic;
	color: magenta;
}

.empty-tweet {
	font-style: italic;
}